<div class="row">
	<!-- Add business here -->
	<div class="col-xs-10 col-xs-offset-1 panel-group">
		<div class="panel panel-success">
			<div class="panel-heading">Add a bussness</div>
			<div class="panel-body">
				<form name="addBusinessForm">
					<!-- Korean Business Name -->
					<div class="form-group">
						<input name="kor_name" class="form-control" type="text" placeholder="Korean Name" ng-model="newBusiness.kor_name" required ng-minlength="4">
						<div ng-if="addBusinessForm.kor_name.$touched">
							<span class="error" ng-if="addBusinessForm.kor_name.$error.required">Korean Name is required!</span>
							<span class="error" ng-if="addBusinessForm.kor_name.$error.pattern">Invalid email format</span>
							<span class="error" ng-if="addBusinessForm.kor_name.$error.minlength">Business name should be at least 4 letters long</span>
						</div>
					</div>
					<!-- English Business Name -->
					<div class="form-group">
						<input name="eng_name" class="form-control" type="text" placeholder="English Name" ng-model="newBusiness.eng_name" required ng-minlength="4">
						<div ng-if="addBusinessForm.eng_name.$touched">
							<span class="error" ng-if="addBusinessForm.eng_name.$error.required">Korean Name is required!</span>
							<span class="error" ng-if="addBusinessForm.eng_name.$error.pattern">Invalid email format</span>
							<span class="error" ng-if="addBusinessForm.eng_name.$error.minlength">Business name should be at least 4 letters long</span>
						</div>
					</div>
					<!-- Business Categories -->
					<div class="form-group">
						<select name="category" class="form-control" ng-model=newBusiness.category>
							<option selected disabled>Select a business category</option>
      						<option ng-repeat="option in categories" ng-value="option._id" ng-bind="option.korean+' - '+option.english"></option>
      					</select>
						<div ng-if="addBusinessForm.category.$touched">
							<span class="error" ng-if="addBusinessForm.category.$error.required">Business Category is required!</span>
						</div>
					</div>
					<!-- Phone Number -->
					<div class="form-group">
						<input name="phone" class="form-control" type="number" placeholder="Phone Number" ng-model="newBusiness.phone" required ng-pattern="/^\d{10}$/">
						<div ng-if="addBusinessForm.phone.$touched">
							<span class="error" ng-if="addBusinessForm.phone.$error.required">Phone required!</span>
							<span class="error" ng-if="addBusinessForm.phone.$error.pattern">Invalid phone format (must be 10 digits including area code)</span>
						</div>
					</div>
					<!-- Email Address -->
					<div class="form-group">
						<input name="email" class="form-control" type="text" placeholder="Email Address" ng-model="newBusiness.email" required ng-minlength="8" ng-pattern="/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/">
						<div ng-if="addBusinessForm.email.$touched">
							<span class="error" ng-if="addBusinessForm.email.$error.required">Email is required!</span>
							<span class="error" ng-if="addBusinessForm.email.$error.pattern">Invalid email format</span>
						</div>
					</div>
					<!-- Address: Street -->
					<div class="form-group">
						<input name="street" class="form-control" type="text" placeholder="Street" ng-model="newBusiness.street" required>
						<div ng-if="addBusinessForm.street.$touched">
							<span class="error" ng-if="addBusinessForm.street.$error.required">Street is required!</span>
						</div>
					</div>
					<!-- Address: City -->
					<div class="form-group">
						<input name="city" class="form-control" type="text" placeholder="City" ng-model="newBusiness.city" required>
						<div ng-if="addBusinessForm.city.$touched">
							<span class="error" ng-if="addBusinessForm.city.$error.required">City is required!</span>
						</div>
					</div>
					<!-- Address: State -->
					<div class="form-group">
						<input name="state" class="form-control" type="text" placeholder="State" ng-model="newBusiness.state" required>
						<div ng-if="addBusinessForm.state.$touched">
							<span class="error" ng-if="addBusinessForm.state.$error.required">State is required!</span>
						</div>
					</div>
					<!-- Address: Zip -->
					<div class="form-group">
						<input name="zip" class="form-control" type="number" placeholder="Zip Code" ng-model="newBusiness.zip" required>
						<div ng-if="addBusinessForm.zip.$touched">
							<span class="error" ng-if="addBusinessForm.zip.$error.required">Zip Code is required!</span>
						</div>
					</div>
					<!-- Website -->
					<div class="form-group">
						<input name="website" class="form-control" type="text" placeholder="Website(optional)" ng-model="newBusiness.website">
					</div>

					<button class="btn btn-success" ng-click="addBusiness()" ng-disabled="addBusinessForm.$invalid">Add</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-xs-10 col-xs-offset-1 panel-group">
		<div class="panel panel-success">
			<div class="panel-heading">Bussness List</div>
			<div class="panel-body">
				Test
			</div>
		</div>
	</div>
</div>
