<div class="modal-header">
  <h3>Login</h3>
  <!-- show any messages that come back with authentication -->
  <div ng-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
</div>
<div class=''>
  <!-- LOGIN FORM -->
  <form name="loginForm" novalidate>
    <div class="modal-body">
      <div class="form-group">
        <label>Email</label>
        <input id="email" type="text" class="form-control" name="email" ng-model="user_login.email" required autofocus>
        <p ng-show="loginForm.email.$error.email && loginForm.email.$dirty" class="help-block">&nbsp;Enter a valid email.</p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="user_login.password" ng-minlength="8" required>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-disabled="!loginForm.$valid" ng-click="login()">Login</button>
      <button class="btn btn-info" ng-click="forgot()">Forgot Password</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
