<div class="modal-header">
  <h3>Create A New Account!</h3>
  <div ng-if="errorMessage.length > 0" class="alert alert-danger">{{ errorMessage }}</div>
  <div ng-if="register_error.length > 0" class="alert alert-danger">{{ register_error }}</div>
</div>

<!-- REGISTER FORM -->
<form name="regForm" novalidate>
  <div class="modal-body">
    <!-- USERNAME -->
    <div class="form-group">
      <label>Username</label>
      <input id="username" type="text" class="form-control" name="username" ng-model="user_new.username" ng-minlength="4" ng-maxlength="20" required autofocus>
      <p ng-show="!regForm.username.$error.required && regForm.username.$error.minlength && regForm.username.$dirty" class="help-block">&nbsp;Username must be at least 4 characters long.</p>
      <p ng-show="!regForm.username.$error.required && regForm.username.$error.maxlength && regForm.username.$dirty" class="help-block">&nbsp;Username cannot exceed 20 characters.</p>
    </div>

    <!-- FIRST NAME -->
    <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" name="fname" ng-model="user_new.fname" ng-minlength="2" ng-maxlength="20" required>
      <p ng-show="!regForm.fname.$error.required && regForm.fname.$error.minlength && regForm.fname.$dirty" class="help-block">&nbsp;First name must be at least 2 characters long.</p>
      <p ng-show="!regForm.fname.$error.required && regForm.fname.$error.maxlength && regForm.fname.$dirty" class="help-block">&nbsp;First name cannot exceed 20 characters.</p>
    </div>

    <!-- LAST NAME -->
    <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" name="lname" ng-model="user_new.lname" ng-minlength="2" ng-maxlength="20" required>
      <p ng-show="!regForm.fname.$error.required && regForm.fname.$error.minlength && regForm.fname.$dirty" class="help-block">&nbsp;Last name must be at least 2 characters long.</p>
      <p ng-show="!regForm.fname.$error.required && regForm.fname.$error.maxlength && regForm.fname.$dirty" class="help-block">&nbsp;Last name cannot exceed 20 characters.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" ng-model="user_new.email" required>
      <p ng-show="regForm.email.$error.email && regForm.email.$dirty" class="help-block">&nbsp;Enter a valid email.</p>
      <!-- <p ng-show="errorMessage.length > 0" class="help-block" style="color: red;">&nbsp;{{ errorMessage }}.</p> -->
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="user_new.password" ng-minlength="8" required>
      <p ng-show="regForm.password.$error.minlength && regForm.password.$dirty" class="help-block">&nbsp;Password must be at least 8 characters long.</p>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" name="cpassword" class="form-control" ng-model="user_new.cpassword" data-password-verify="user_new.password" required>
      <!-- <p ng-show="!regForm.cpassword.$dirty" class="help-block"> Confirm password required.</p> -->
      <p ng-show="regForm.cpassword.$error.passwordVerify" class="help-block">&nbsp;Confirm password and password must match.</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!regForm.$valid" ng-click="register()">Register</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
